<MudTable Items="EmploymentStatuses"
          Hover
          FixedHeader="true">
    <HeaderContent>
        <MudTh title="Sort by Address Type">
            <MudTableSortLabel SortBy="new Func<EmploymentStatusModel, object>(x => x.StatusName)">
                Status Name
            </MudTableSortLabel>
        </MudTh>
        <MudTh></MudTh>
    </HeaderContent>
    <RowTemplate>
        <MudTd>@context.StatusName</MudTd>
        <MudTd>
            <a href="/employmentstatus/view/@context.EmploymentStatusId" class="btn btn-primary">View</a>
            &nbsp;
            <a href="/employmentstatus/edit/@context.EmploymentStatusId" class="btn btn-primary">Edit</a>
            @if (!context.Persons.Any())
            {
                @:&nbsp;
                <a href="/employmentstatus/delete/@context.EmploymentStatusId" class="btn btn-danger">Delete</a>
            }
        </MudTd>
    </RowTemplate>
    <PagerContent>
        <MudTablePager PageSizeOptions="new int[] { 5, 10, 15, int.MaxValue }" />
    </PagerContent>
</MudTable>