@page "/gender/create"
@inherits GenderBasePageClass

<PageTitle>Create Gender</PageTitle>

<EditForm Model="GenderDisplayModel" OnValidSubmit="CreateGender">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <MudCardContent>
                    <GenderCreateUpdateComponent GenderDisplayModel="@GenderDisplayModel" />
                </MudCardContent>
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    &nbsp;
                    <a class="btn btn-primary" href="/genders/index">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>