@page "/emergencycontact/create"
@page "/emergencycontact/create/{PersonId:int}"
@inherits EmergencyContactBasePageClass

<PageTitle>Create Emergency Contact</PageTitle>

<EditForm Model="EmergencyContactDisplayModel" OnValidSubmit="CreateEmergencyContact">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <MudCardContent>
                    <EmergencyContactCreateUpdateComponent
                        EmergencyContactDisplayModel="@EmergencyContactDisplayModel"
                        People="@People"
                        Relationships="@Relationships" />
                </MudCardContent>
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    &nbsp;
                    <a class="btn btn-primary" href="/emergencycontacts/index/@PersonId">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>