@page "/emergencycontacts/index/{PersonId:int}"
@inherits EmergencyContactBasePageClass

<PageTitle>Emergency Contacts</PageTitle>

<a href="/emergencycontact/create/@PersonId" class="btn btn-primary">Create Emergency Contact</a>
&nbsp;
<a href="/person/view/@PersonId" class="btn btn-primary">View Person</a>


<br />
<br />

@if (EmergencyContacts is null || !EmergencyContacts.Any())
{
    <LoadingOrNotFoundComponent ValueToShow="@EmergencyContactPlural" />
    return;
}

<EmergencyContactGridviewComponent EmergencyContacts="@EmergencyContacts" ShowStaffMember="true" />