<MudAlert Severity="Severity.Error" ContentAlignment="HorizontalAlignment.Center">
    Cannot delete @ObjectType "@ObjectName" as it is in use in @ObjectCount place(s).
</MudAlert>
<br />
<a href="@CancelURL" class="btn btn-primary">Cancel</a>