@page "/people/index"
@inherits PersonBasePageClass

<PageTitle>People</PageTitle>

<a href="/person/create" class="btn btn-primary">Create Person</a>

<br />
<br />

@if (People is null || !People.Any())
{
    <LoadingOrNotFoundComponent ValueToShow="@PersonPlural" />
    return;
}

<PersonGridviewComponent People="@People" />