@page "/address/create/{PersonId:int}"
@inherits AddressBasePageClass

<PageTitle>Create Address</PageTitle>

<EditForm Model="AddressDisplayModel" OnValidSubmit="CreateAddress">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <MudCardContent>
                    <AddressCreateUpdateComponent AddressDisplayModel="@AddressDisplayModel" AddressTypes="@AddressTypes" />
                </MudCardContent>
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    &nbsp;
                    <a class="btn btn-primary" href="/addresses/index/@PersonId">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>