@page "/employmentstatus/create"
@inherits EmploymentStatusBasePageClass

<PageTitle>Create Employment Status</PageTitle>

<EditForm Model="EmploymentStatusDisplayModel" OnValidSubmit="CreateEmploymentStatus">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <MudGrid>
        <MudItem sm="7">
            <MudCard>
                <MudCardContent>
                    <EmploymentStatusCreateUpdateComponent EmploymentStatusDisplayModel="@EmploymentStatusDisplayModel" />
                </MudCardContent>
                <MudCardActions>
                    <button type="submit" class="btn btn-primary">Submit</button>
                    &nbsp;
                    <a class="btn btn-primary" href="/employmentstatuses/index">Cancel</a>
                </MudCardActions>
            </MudCard>
        </MudItem>
    </MudGrid>
</EditForm>